.ls-reviews-form{
  display: table;
  margin: 0 auto;
  text-align: center;
}

.ls-star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background-size: contain;
  background: url(../img/ls-grey.svg);
}

.ls-star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-size: contain;
  background: url(../img/ls-red.svg);
}

.ls-star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.ls-star-rating input:hover + i,
.ls-star-rating input:checked + i {
  opacity: 1;
}

.ls-star-rating i ~ i{
  background: url(../img/ls-orange.svg);
}

.ls-star-rating i ~ i ~ i {
  background: url(../img/ls-yellow.svg);
}

.ls-star-rating i ~ i ~ i ~ i {
  background: url(../img/ls-green.svg);
}

.ls-star-rating i ~ i ~ i ~ i ~ i {
  background: url(../img/ls-darkgreen.svg);
}

.ls-reviews-stars-button{
  margin-top: 10px;
}
